@charset "utf-8";
/* CSS Document */
.principal{
	width: 90%; max-width: 1200px; height: 600px;margin: 0 auto;
}

.um{
	width: 50%;height: 700px;background: darkred;float: left;
}
.dois{
	width: 50%;height: 700px;background: darkgreen;float: left;
}


@media all and (max-width : 980px ){
	.um{
		background: #444444;
		color: #FFFFFF;
	}
	.dois{
		background:#9C970F;
		color: #FFFFFF;
	}
	
}

@media all and (max-width: 500px){
	.um{
		background:#D46464;
		color:#8A0F0F;
	}
	.dois{
		background:#00FFC3;
		color: #8A0F0F;
		
	}
	
	
}

@media screen and (max-width: 500px) {
	
		.img{
			display: none;
			
	}
         
}


